.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    font-size: 16px;
   
}

.modal__content.active {
    transform: scale(1);
}

.text-uppercase{
    display: flex;
    justify-content: center;
    color:white;
    padding-top: 10px;
}

.inputWrapper{
    margin: 10px;
}

.px-5{
    margin: 10px;
}

.d-flex{
    padding: 20px;
    background-color:rgb(78, 199, 158);
}